{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<br>
<div class="contenedor_peliculas">
    <h2 class="titulo_contenedor_pelicula">Cartelera semanal</h2>
    <div class="pelicula">
        <img src="{% static 'core/img/cara1.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara2.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara3.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara4.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara5.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara6.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara7.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara8.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
</div>
<br>
<div class="contenedor_peliculas">
    <h2 class="titulo_contenedor_pelicula">PREVENTA / PRÓXIMOS ESTRENOS</h2>
    <div class="pelicula">
        <img src="{% static 'core/img/cara9.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara10.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara11.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara12.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara13.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara14.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara15.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <img src="{% static 'core/img/cara16.jpg' %}" alt="Caratula 1">
        <a href="#">Ver horarios</a>
    </div>
</div>

{% endblock %}